.Quicked {
  height: 500px;
  display: flex;
  justify-content: flex ;
  width: 1400px;
  
  .container {
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .left {
      display: flex;
      flex-direction: column;
      gap: 40px;
      position: absolute;
      left: 18vh ;
      h1 {
        font-size: 80px;
        font-family: "Montserrat", sans-serif;
        font-style: italic;

        span {
          font-weight: 300;
        }

       
      }

      button {
        color: white;
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid white;
        background-color: #0b457f;
        cursor: pointer;
        height: 50px ;
        font-size: 20px;
        &:hover {
          background-color: #81c9f0;
          border-color: #81c9f0;
          color: black;
        }
      }
      .search {
        background-color: white;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;

        .searchInput {
          display: flex;
          align-items: center;
          gap: 10px;
          img {
            width: 20px;
            height: 20px;
            margin: 10px;
          }

          input {
            border: none;
            outline: none;
            width:800px ;
            &::placeholder {
              color: gray;
            }
          }
        }

        button {
          width: 120px;
          height: 50px;
          border: none;
          background-color: rgb(41, 166, 177);
          color: white;
          align-self: flex-end;
          cursor: pointer;
          color: black;
        }
      }

      .popular {
        display: flex;
        align-items: center;
        gap: 10px;

        span {
          width: max-content;
        }

        button {
          width: max-content;
          color: white;
          border: 1px solid white;
          padding: 5px 10px;
          border-radius: 20px;
          background-color: transparent;
          font-size: 14px;
        }
      }
    }

    .right {
      height: 50%;
      img {
        height: 100%;
        object-fit: contain;
        width: 650px ;
      }
      position: absolute;
      
      margin-left: 60% ;
    }
  }
}
