.featuredAbout {
    height: 600px;
    display: flex;
    justify-content: center;
    
    background-size: cover;
    color: white;
    
    .container {
      width: 1400px;
      display: flex;
      align-items: center;
      /* .img{
        margin-top: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%; 
      } */
      .left {
        display: flex;
        flex-direction: column;
        gap: 30px;
  
        h1 {
          font-size: 50px;
  
          span {
            font-style: italic;
            font-weight: 300;
          }
        }
        .popular {
          display: flex;
          align-items: center;
          gap: 10px;
  
          span {
            width: max-content;
          }
  
          button {
            width: max-content;
            color: white;
            border: 1px solid white;
            padding: 5px 10px;
            border-radius: 20px;
            background-color: transparent;
            font-size: 14px;
          }
        }
      }
  
      .right {
        height: 100%;
        img {
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }
  
.container2{
    width: 1400px;
    display: flex;
    justify-content: center;
    margin: 100px auto;

    .side1{

      width: 700px ;
      display: flex;
      .others{
        font-size: 22px ;
        font-weight: 600;
        font-family: 'Arial', sans-serif;
        line-height: 1.9;
        padding-top: 60px ;
        
        }
      }
    }

    .side2{
      width: 500px ;
     

    img{
      padding-top: 50px ;
      width: 900px ;
    }
}

.longDesc{
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -50px ;
  padding-right: 10px ;
     
      font-size: 22px ;
      font-weight: 600;
      font-family: 'Arial', sans-serif;
      line-height: 1.9;
      padding-top: 60px ;
      
}

.firstLetter{
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size:100px ;
  font-weight: bold;
  color: #2794b0;   
  
}